*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: black;
    color: white;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    }
  header{
    font-size: 1rem;
    color:goldenrod;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  button{
    margin-bottom: 1px;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    color:black;
    background: white;
    cursor: pointer;
  }
  select{
    -moz-appearance: none;
    outline: none;
    border: none;
    color: black;
    width: fit-content;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: 5px;
  }
  .select::after{
   content: "\25BC";
   width: auto;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   padding: 0.25rem;
   pointer-events: none;
  }
  .select:hover::after{
    background: white;
    color: grey;
  }
  li{
    list-style: none;
    padding: 1rem;
  }